@import "../../theme/color";
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .signInBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    padding: 16px;
    background: white;
    border-radius: 5px;
    padding-bottom: 32px;
    .headerSection {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .formSection {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      align-self: stretch;
      padding: 0px 32px;
    }
    .actionSection {
      padding-top: 18px;
    }
  }
}