._35SImxm4INwfyQoK3QoNZA {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #eee solid 1px;
  padding: 0px 64px;
  height: 56px;
  background: white;
  top: 0;
  left: 0; }

.-y5RPCFjUYgIH1BNkERGe {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .-y5RPCFjUYgIH1BNkERGe ._3iZhUpIiT2NN0B9YBJGKsz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    padding: 16px;
    background: white;
    border-radius: 5px;
    padding-bottom: 32px; }
    .-y5RPCFjUYgIH1BNkERGe ._3iZhUpIiT2NN0B9YBJGKsz .IfjaMt-Nh9r_147DpVJZH {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .-y5RPCFjUYgIH1BNkERGe ._3iZhUpIiT2NN0B9YBJGKsz ._1_Wx3wUNNeoh9GhJ-A8bpL {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      align-self: stretch;
      padding: 0px 32px; }
    .-y5RPCFjUYgIH1BNkERGe ._3iZhUpIiT2NN0B9YBJGKsz ._1dmuaqvIoHtplVB3XJmoxn {
      padding-top: 18px; }

button {
  border: 0px;
  background: transparent;
  margin: 0px;
  padding: 0px;
  outline: none; }

._2EEtzAzAxJ8-pkXPLvbyrx {
  height: 44px;
  min-width: 120px;
  background: #2abadc;
  border-radius: 25px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: white;
  transition: box-shadow 240ms cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0px 0px 0px 0px #1e98b5; }
  ._2EEtzAzAxJ8-pkXPLvbyrx:hover {
    box-shadow: 0px 2px 5px 1px #1e98b5; }
  ._2EEtzAzAxJ8-pkXPLvbyrx:active {
    background: #21abcb; }
  ._2EEtzAzAxJ8-pkXPLvbyrx:disabled {
    background: #ddd;
    box-shadow: 0px 0px 0px 0px white; }
  ._2EEtzAzAxJ8-pkXPLvbyrx._31dJJjYK8rDydjqAFWMgeL {
    background: white;
    color: #2abadc;
    border: #2abadc solid 2px;
    box-shadow: 0px 0px 0px 0px white;
    font-weight: 600; }
    ._2EEtzAzAxJ8-pkXPLvbyrx._31dJJjYK8rDydjqAFWMgeL:active {
      background: #f2f2f2; }
    ._2EEtzAzAxJ8-pkXPLvbyrx._31dJJjYK8rDydjqAFWMgeL:disabled {
      border: #ddd solid 2px;
      color: #ddd; }

._1HQDqWeQng5h3rMqyLi1BX {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-self: stretch;
  align-items: flex-start;
  margin: 8px; }
  ._1HQDqWeQng5h3rMqyLi1BX .WS2pnEI7dGCEbPOlUvDR0 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-self: stretch;
    position: relative; }
    ._1HQDqWeQng5h3rMqyLi1BX .WS2pnEI7dGCEbPOlUvDR0 .RXBTnyDgc2dEvWRREgWSU {
      pointer-events: none;
      font-size: 14px;
      margin-bottom: 4px;
      position: absolute;
      top: 50%;
      transform: translateY(-60%);
      left: 16px;
      color: #999;
      transition: transform 240ms cubic-bezier(0.075, 0.82, 0.165, 1), font-size 240ms cubic-bezier(0.075, 0.82, 0.165, 1); }
      ._1HQDqWeQng5h3rMqyLi1BX .WS2pnEI7dGCEbPOlUvDR0 .RXBTnyDgc2dEvWRREgWSU.y3ozIjfo9WSYlAwqh-u0W {
        font-weight: 600;
        background: white;
        color: #2abadc;
        border-radius: 10px;
        font-size: 11px;
        padding: 0px 4px;
        transform: translateY(-225%);
        transition: transform 240ms cubic-bezier(0.075, 0.82, 0.165, 1), font-size 240ms cubic-bezier(0.075, 0.82, 0.165, 1); }
    ._1HQDqWeQng5h3rMqyLi1BX .WS2pnEI7dGCEbPOlUvDR0 input {
      height: 46px;
      align-self: stretch;
      border-radius: 5px;
      border: #eee solid 2px;
      padding: 0px 16px;
      outline: none;
      transition: border-width 240ms cubic-bezier(0.075, 0.82, 0.165, 1); }
      ._1HQDqWeQng5h3rMqyLi1BX .WS2pnEI7dGCEbPOlUvDR0 input:focus {
        border: #2abadc solid 2px;
        transition: border-width 240ms cubic-bezier(0.075, 0.82, 0.165, 1); }
  ._1HQDqWeQng5h3rMqyLi1BX ._2carAsMO6KGrvog7umN5np {
    font-size: 12px;
    min-height: 12px;
    margin-top: 8px; }

._2Dhmn3GILIidHR73c9NEiV {
  height: 100%;
  margin-top: 56px;
  position: fixed;
  top: 0;
  left: 0;
  width: 64px;
  border: #eee solid 1px;
  background: white; }
  ._2Dhmn3GILIidHR73c9NEiV ._1BsTFhgg7CIntD0xFrDmYw {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 16px; }
    ._2Dhmn3GILIidHR73c9NEiV ._1BsTFhgg7CIntD0xFrDmYw ._3q1zBg85b9oQI7VdogX51r {
      padding: 16px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: white solid 3px;
      margin: 8px 0px;
      cursor: pointer;
      transition: color 240ms cubic-bezier(0.075, 0.82, 0.165, 1), border 240ms cubic-bezier(0.075, 0.82, 0.165, 1); }
      ._2Dhmn3GILIidHR73c9NEiV ._1BsTFhgg7CIntD0xFrDmYw ._3q1zBg85b9oQI7VdogX51r._3pDR85ynyCU_JNZdUrBk8B {
        border-right: #2abadc solid 3px;
        color: #2abadc;
        cursor: auto;
        transition: color 240ms cubic-bezier(0.075, 0.82, 0.165, 1), border 240ms cubic-bezier(0.075, 0.82, 0.165, 1); }

body {
  padding: 0px;
  margin: 0px;
  background: #f3f7fd;
  font-family: 'Roboto', sans-serif; }

._1iMt8jsSDSH-T3cGyRDSPM {
  padding: 57px 66px; }


/*# sourceMappingURL=styles.chunk.css.map*/