@import '../../theme/color';
.container {
  height: 100%;
  margin-top: 56px;
  position: fixed;
  top: 0;
  left: 0;
  width: 64px;
  border: #eee solid 1px;
  background: white;
  .menuList {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 16px;
    .menuItem {
      padding: 16px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: white solid 3px;
      margin: 8px 0px;
      cursor: pointer;
      transition: color 240ms cubic-bezier(0.075, 0.82, 0.165, 1), border 240ms cubic-bezier(0.075, 0.82, 0.165, 1);
      &.active {
        border-right: $primary solid 3px;
        color: $primary;
        cursor: auto;
        transition: color 240ms cubic-bezier(0.075, 0.82, 0.165, 1), border 240ms cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
}